* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body,
header,
main,
footer,
h1,
h3,
h4,
img,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: 0.5em;
}

section a {
  text-decoration: none;
}

body {
  background-color: rgb(249, 196, 196);
}

.center {
  text-align: center;
}

/* header */
header {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 4.2em;
}

.logo {
  width: 15%;
  margin-top: 0.5em;
}

/* main */
section {
  margin-top: 1em;
  border: 1px solid rgb(250, 138, 138);
  border-radius: 8px;
  width: 95%;
  background-color: rgb(247, 207, 207);
  margin-left: auto;
  margin-right: auto;
}

section:nth-child(5) {
  margin-bottom: 1em;
}

h3 {
  color: #000;
}

.food {
  margin: 0.75em auto;
}

.allergen {
  color: red;
  margin-left: 1.5em;
  font-weight: 500;
  margin-bottom: 0.5em;
}

img {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  border-radius: 8px;
}

iframe {
  display: block;
  width: 95%;
  height: 300px;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

.inner {
  padding: 2%;
}

.sub {
  margin-left: 0.5em;
  color: #000;
}

.container ul {
  margin-left: 1.5em;
  margin-bottom: 0.5em;
}
.container ul li {
  margin-left: 2em;
}
.container ol {
  margin-left: 1em;
  margin-top: 0;
}
.container .rice {
  margin-left: 1em;
}

/* bottom menu */
.bottom {
  margin: 1em;
  border-top: 1px solid rgb(255, 180, 180);
}

.bottom-menu {
  font-size: 18px;
  margin-bottom: 0;
}
.bottom-menu a {
  text-decoration: none;
  color: #000;
}

.bottom ul {
  list-style: none;
  margin-left: 2em;
  margin-top: 0.25em;
}

.bottom ul li {
  margin-bottom: 0.25em;
}

.bottom ul li a {
  color: #333;
}

/* contact form */
form {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: 0 auto;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 600;
}

input,
textarea {
  padding: 8px;
  border-radius: 5px;
  border: none;
  margin-bottom: 15px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  font-family: sans-serif;
  font-size: 16px;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button[type="submit"] {
  background-color: #ff8989;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  font-family: sans-serif;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #ff5d5d;
}

.caution {
  margin-top: 5px;
  font-size: 12px;
}

/* footer */
footer {
  padding-top: 1em;
  border-top: 1px solid rgb(255, 180, 180);
  font-size: 0.85em;
  padding-bottom: 1em;
}
footer a {
  color: #000;
}
.con {
  padding-bottom: 1em;
  font-size: 18px;
}

/* Tablet */
@media screen and (min-width: 431px) {
  body {
    font-size: 1.25em;
    width: 100%;
  }
  .logo {
    max-height: 80px;
    max-width: 80px;
  }
  /* main */
  section {
    display: block;
    padding: 1em;
    max-width: 550px;
  }
  .container {
    padding: 1em;
  }
  .allergen {
    text-align: center;
  }
  .dish {
    max-width: 650px;
  }
  .inner {
    margin: 0 8%;
  }
  .bottom {
    text-align: center;
  }
  .bottom ul li {
    display: inline;
    margin-left: 20px;
  }
  /* footer */
  footer {
    font-size: 0.7em;
  }
}

/* PC */
@media screen and (min-width: 1190px) {
  .inner {
    margin: 0 20%;
  }
  .bottom {
    text-align: center;
  }
}